In [23]:
import numpy as np
import pandas as pd

data = pd.read_csv('data/apple.csv')
data.head()

         Date Close/Last    Volume     Open     High       Low
0  01/18/2024    $188.63  78005750  $186.09  $189.14   $185.83
1  01/17/2024    $182.68  47317430  $181.27  $182.93   $180.30
2  01/16/2024    $183.63  65603040  $182.16  $184.26  $180.934
3  01/12/2024    $185.92  40477780  $186.06  $186.74   $185.19
4  01/11/2024    $185.59  49128410  $186.54  $187.05   $183.62

In [24]:
data.dtypes

Date          object
Close/Last    object
Volume         int64
Open          object
High          object
Low           object
dtype: object

In [25]:
import re
# tidy up the date
columns_to_be_cleaned = ['Open', 'High', 'Low', 'Close/Last']
for column in columns_to_be_cleaned:
    data[column] = data[column].apply(lambda x: re.sub(r'[$,]', '', x))
    data[column] = data[column].astype('float')

data['Date'] = pd.to_datetime(data['Date'])
data.dtypes

Date          datetime64[ns]
Close/Last           float64
Volume                 int64
Open                 float64
High                 float64
Low                  float64
dtype: object